.hunts {
    display: flex;
    flex-direction: column;
}

.new-hunt-btn {
    width: 200px;
}

.new-hunt-step-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-input {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hunts-box {
    display: flex;
    width: 1200px;
    margin: auto;
    background-color: #e9ecef;
    border: 1px solid #e9ecef;
    border-radius: 25px;
}

.divider {
    display: block;
    width: 1200px;
    margin: auto;
}