.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.pokeball {
    width: 300px;
    height: 300px;
}

.shiny {
    color: gold;
}

.title, .tagline {
    font-family: 'Courier New', Courier, monospace;
}